<div class="custom-container">
    <div class="education-container" id="section5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    <h1>{{ 'My Education' | translate }}</h1>
                    <p>Throughout my education, I had the opportunity to work with various technologies and developed numerous small projects during this time.</p>
                    <app-custom-button-component [text]="'Incele'"></app-custom-button-component>
                </div>
                <div class="col-7">
                    <app-education [educationList]="educationList"></app-education>
                </div>
            </div>
        </div>
    </div>
</div>
