.download-button {
  font-family: var(--font), sans-serif;
  margin: 2.8vh 0;
  font-size: 1.8vh;
  color: var(--button-text-color);
  border: solid 2px var(--primary-color);
  background-color: var(--button-bg-color);
  padding: 0 20px;
  height: 5.6vh;
  line-height: 5.2vh;
  cursor: pointer;
  min-width: 17vw;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;

  i {
    margin-right: 10px;
  }

  &:hover {
    background-color: var(--button-bg-hover-color);
  }
}

@media (max-width: 1024px) {
  .download-button {
    border-radius: 5px;
  }
}