.footer-container {
  margin: 20px 0;
  padding-bottom: 100px;
  padding-top: 20px;

  hr {
    color: var(--text-secondary-color);
    opacity: 0.2;
  }

  p {
    font-family: var(--font);
    font-size: 0.8rem;
    color: var(--text-secondary-color);
    text-align: left;
    padding: 20px 0;
  }
}