.navbar {
  width: calc(100% - 20%);
  height: 70px;
  margin: 0 10%;

  .nav-item {
    user-select: none;
    line-height: 50px;
    margin: 0 10px;
    padding: 0;

    .nav-link {
      font-family: var(--font), sans-serif;
      font-size: 12pt;
      color: var(--text-color);
      cursor: pointer;

      &:hover {
        color: var(--text-hover-color);
      }
    }
  }
}