.nav-item {
  user-select: none;
  margin: 25px 10px;

  .nav-link {
    font-family: var(--font), sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
      color: var(--text-hover-color);
    }
  }
}
