.navbar {
  width: calc(100% - 20%);
  height: 70px;
  margin: 0 10%;

  .nav-item {
    user-select: none;
    line-height: 50px;
    margin: 0 10px;
    padding: 0;

    .nav-link {
      font-family: var(--font), sans-serif;
      font-size: 12pt;
      color: var(--text-color);
      cursor: pointer;
      position: relative;

      &:after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--text-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}