<div class="navbar navbar-expand-lg">
    <div class="container justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#section1">{{ 'home' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">{{ 'projects' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section4">{{ 'experience' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section5">{{ 'education' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section6">{{ 'contact' | translate }}</a>
            </li>
        </ul>
    </div>
</div>