.custom-button {
  font-family: var(--font-title);
  margin: 2.8vh 0;
  font-size: 1.1vw;
  border-radius: 0;
  color: var(--button-text-color);
  border: solid 2px var(--primary-color);
  background-color: var(--button-bg-color);
  padding: 0 20px;
  height: 5.6vh;
  line-height: 5.2vh;
  cursor: pointer;
  max-width: 15vw;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: var(--button-bg-hover-color);
  }
}
