.pdf-container {
  position: fixed;
  top: 40px;
  left: 150px;
  right: 150px;
  bottom: 0;
  width: calc(100vw - 300px);
  height: calc(100vh - 40px);
  border-radius: 10px 10px 0 0;
  overflow: auto;
  animation: fadeIn 0.5s ease-out forwards;
  background-color: white;

  .header {
    height: 35px;
    line-height: 35px;
    background-color: gray;
    margin: 0;
    padding: 0;
  }

  .pdf-pages {
    display: flex;
    flex-direction: column;
  }
}

canvas {
  display: block;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}