<div class="profile-container">
    <div class="profile-wrapper">
        <app-avatar-component
                [imagePath]="'assets/profile.jpeg'"
                [width]="'150px'"
                [height]="'150px'">
        </app-avatar-component>
        <div class="profile-info">
            <h1 class="fullName">Hello, I'm {{ fullName }}.</h1>
            <h1 class="title">I'm a {{ title }}.</h1>
        </div>
    </div>
    <p [innerHTML]="formatDescription(description)" class="description"></p>
    <div class="row cv-download-container">
        <div class="col">
            <app-download-component
                    [text]=" 'download_resume' | translate "
                    (click)="downloadFile('fatih-ayar-cv.pdf')">
            </app-download-component>
        </div>
        <div class="col">
            <div class="show-btn" (click)="showPdf()">
                <i class="bi bi-eye"></i>
            </div>
        </div>
    </div>
</div>