@media (max-width: 1024px) {
  .profile-container {
    width: 100%;
    text-align: center;
    height: calc(100vh);
    justify-content: end;
    margin: 0;
    padding: 100px 0 0;
    align-content: start;
    position: relative;

    .profile-wrapper {
      flex-direction: column;
      align-items: center;

      .image-loaded {
        opacity: 1;
      }

      app-avatar-component {
        height: 180px;
        width: 180px;
        display: block;
        margin: 0 auto;
      }

      .profile-info {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 25px;
      }

      .fullName {
        font-family: var(--font-title);
        text-align: center;
        font-size: 29pt;
        line-height: 45px;
        margin: 5vh 0 0;
      }

      .title {
        font-family: var(--font-title);
        margin-top: 5vh;
        text-align: center;
        font-size: 29pt;
        font-weight: 300;
        line-height: 45px;
      }
    }

    .cv-download-container {
      text-align: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: env(safe-area-inset-bottom);

      .row {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
      }

      .col {
        padding: 5px;
        width: auto;
        flex: none;
      }

      .show-btn {
        display: none;
      }
    }
  }
}
@media (min-width: 1025px) {
  .profile-container {
    width: 80%;
    text-align: left;
    height: calc(100vh - 70px);
    justify-content: left;
    border-radius: 10px 10px 0 0;
    margin: 70px auto auto;
    align-content: center;

    .profile-wrapper {
      flex-direction: column;
      align-items: start;

      .image-loaded {
        opacity: 1;
      }

      .profile-info {
        justify-content: left;
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      app-avatar-component {
        height: 15vw;
        width: 15vw;
        display: block;
      }

      .fullName {
        font-family: var(--font-title);
        text-align: left;
        font-size: 4.5vw;
        margin: 50px 0 0;
      }

      .title {
        font-family: var(--font-title);
        text-align: left;
        font-size: 3.9vw;
        font-weight: 300;
        margin-top: calc(2.2vh);
      }
    }

    .cv-download-container {
      text-align: left;
      justify-content: start;

      .row {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
      }

      .col {
        padding: 5px;
        width: auto;
        flex: none;
      }

      .show-btn {
        font-family: var(--font), sans-serif;
        margin: 2.8vh 0;
        font-size: 1.6vw;
        color: var(--text-color);
        border: solid 2px var(--primary-color);
        background-color: transparent;
        line-height: 5.6vh;
        height: 5.6vh;
        width: 5.6vh;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.5s ease, color 0.5s ease;

        &:hover {
          background-color: var(--button-bg-secondary-hover-color);
        }
      }
    }
  }
}