<div class="profile-container d-flex justify-content-center align-items-center vh-100">
    <div class="col d-flex flex-column justify-content-between align-items-center">
        <app-avatar-component [imagePath]="'assets/profile.jpeg'" [width]="'130px'" [height]="'130px'"></app-avatar-component>
        <h1 class="fullName">{{ fullName }}</h1>
        <h1 class="title">{{ title }}</h1>
        <div class="cv-download-container mt-3">
            <app-download-component [text]="'Öz Geçmiş İndir'"></app-download-component>
        </div>
    </div>
</div>
