.profile-container {
  width: 70%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 30px 0;

  .profile-wrapper {
    display: flex;
    align-items: flex-start;

    app-avatar-component {
      margin-right: 25px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .fullName {
      font-family: var(--font), sans-serif;
      text-align: left;
      font-size: 33pt;
      margin: 0;
    }

    .title {
      font-family: var(--font), sans-serif;
      text-align: left;
      font-size: 15pt;
      font-weight: 300;
      line-height: 30px;
    }
  }

  .description {
    text-align: left;
    font-family: var(--font), sans-serif;
    color: var(--text-secondary-color);
    font-size: 11pt;
    padding: 20px 0;
    margin-left: 120px;
  }

  .cv-download-container {
    text-align: center;
    margin: 0 0 0 120px;

    .row {
      padding: 0;
      margin: 0;
    }

    .col {
      padding: 5px;
    }

    .show-btn {
      font-family: var(--font), sans-serif;
      margin: 25px 0;
      font-size: 18pt;
      color: var(--button-text-color);
      border: solid 2px var(--primary-color);
      border-radius: 10px;
      background-color: var(--button-bg-color);
      padding: 0 15px;
      line-height: 45px;
      height: 45px;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.5s ease, color 0.5s ease;

      &:hover {
        background-color: var(--button-bg-hover-color);
      }
    }
  }
}