<div class="contact-container" id="section6">
    <h1>{{ 'Bana ulaşmak mı istiyorsun?' | translate }}</h1>
    <div class="content">
        <div class="contact-content">
            <i class="bi bi-envelope-fill"></i>
            <p class="title">Mail</p>
            <p class="description">Benimle İletişim Kurmak için mail atabilirsiniz.</p>
            <p class="detail">fatihayaaaar&#64;gmail.com</p>
        </div>
        <div class="contact-content">
            <i class="bi bi-linkedin"></i>
            <p class="title">Linkedin</p>
            <p class="description">Linkedin Hesabımı inceleyerek daha detaylı bilgi edinebilirsiniz.</p>
            <p class="detail">linkedin.com/in/fatihayar</p>
        </div>
        <div class="contact-content">
            <i class="bi bi-github"></i>
            <p class="title">Github</p>
            <p class="description">Github hesabımda projelerimi ve çalışmalarımı görebilirsiniz.</p>
            <p class="detail">github.com/fatihayaaar</p>
        </div>
    </div>
    <div class="footer-container">
        <app-footer-component></app-footer-component>
    </div>
</div>
