.experience-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  h1 {
    font-family: var(--font-title);
    font-size: 25pt;
    padding: 20px 0 0 0;
    margin: 0;
  }
}
