.custom-container {

  .experience-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: var(--font-title);
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  app-custom-button-component {
    display: none;
  }

  .custom-container {

    .experience-container {
      width: calc(100% - 20px);
      margin: 0 10px;

      h1 {
        padding: 0;
        font-size: 25pt;
      }

      p {
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 15pt;
        font-size: 10pt;
        color: var(--text-secondary-color);
        font-family: var(--font);
      }
    }
  }
}

@media (min-width: 1025px) {
  .custom-container {
    height: 100%;

    .experience-container {
      height: 100%;
      width: 80%;

      h1 {
        padding: 20px 0 0 0;
        font-size: 3.1vw;
      }

      p {
        margin-right: 50px;
        margin-top: 2.5vh;
        margin-bottom: 5vh;
        line-height: 3.5vh;
        font-size: 1vw;
        color: var(--text-secondary-color);
        font-family: var(--font);
      }
    }
  }
}