<div class="custom-container">
    <div class="experience-container" id="section4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <h1>{{ 'My Experience' | translate }}</h1>
                    <p>I developed robust backend applications with Java, working on Spring Framework and microservices. I also built user-friendly interfaces with Angular, managing full-stack projects.</p>
                    <app-custom-button-component [text]="'Incele'"></app-custom-button-component>
                </div>
                <div class="d-none d-md-block col-md-12 col-lg-1">
                </div>
                <div class="col-md-12 col-lg-6">
                    <app-experience [experienceList]="experienceList"></app-experience>
                </div>
            </div>
        </div>
    </div>
</div>