.experience-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  h1 {
    font-family: var(--font), sans-serif;
    font-size: 25pt;
    padding: 20px 20px 1px 0;
  }
}
