<div class="header-fixed" [ngClass]="{'header-fixed-active': isHeaderFixedShow}">
    <app-header-component></app-header-component>
</div>
<div class="section">
    <div class="header-container"  id="section1">
        <app-header-component *ngIf="!isHeaderFixedShow"></app-header-component>
    </div>
    <app-profile-layout
            [fullName]="'Fatih Ayar'"
            [title]="'computer_engineer' | translate"
            [description]="'description' | translate"
            (showPdfOnClick)="openPdfViewer()">
    </app-profile-layout>
</div>
<div class="section section-projects" id="section3">
    <app-projects-layout></app-projects-layout>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
</div>
<div class="section">
    <app-experience-layout></app-experience-layout>
</div>
<div class="section bg-color-education"  style="height: calc(100vh - 70px)">
    <div id="section5" style="height: 70px; background-color: var(--background-color); width: 100%"></div>
    <app-education-layout></app-education-layout>
</div>
<div class="section">
    <div id="section6" style="height: 70px; background-color: var(--background-secondary-color); width: 100%"></div>
    <app-contact-layout></app-contact-layout>
    <app-footer-component></app-footer-component>
</div>

<app-scroll-to-top-component></app-scroll-to-top-component>

@if (themeService.getIsDarkTheme()) {
  <i class="bi bi-brightness-high fixed-button" (click)="onClickTheme()"></i>
} @else {
  <i class="bi bi-moon fixed-button" (click)="onClickTheme()"></i>
}
<i class="bi bi-translate fixed-language-button" (click)="switchLanguage()"></i>