.header-fixed {
  background: var(--header-background);
  position: fixed;
  left: 50%;
  top: -200px;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  transition: top 0.5s ease-in-out;

  &.header-fixed-active {
    top: 0;
  }
}

.section {
  height: 100vh;
  color: var(--text-color);
  background: var(--background);
  transition: background 0.5s ease, color 0.5s ease;

  app-header-component {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  app-profile-layout {
    animation: fadeIn 1s ease-out forwards;
  }
}

.fixed-button {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 25pt;

  &:hover {
  }
}

.fixed-language-button {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 25pt;

  &:hover {
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.loaded .component {
  animation-delay: 0.2s;
}

.animated-element {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.5s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}