.header-fixed {
  background: var(--header-background);
  position: fixed;
  right: 0;
  left: 0;
  top: -200px;
  z-index: 999;
  transition: top 0.5s ease-in-out;
  box-shadow: 5px 5px 15px var(--shadow-color);

  &.header-fixed-active {
    top: 0;
  }
}

.section {
  color: var(--text-color);
  background: var(--background);
  transition: background 0.5s ease, color 0.5s ease;

  .header-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
  }

  app-profile-layout {
    animation: fadeIn 1s ease-out forwards;
  }

  &.section-projects {
    padding-top: 0;
  }
}

.fixed-button {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 25pt;

  &:hover {
  }
}

.fixed-language-button {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 25pt;

  &:hover {
  }
}

body.loaded .component {
  animation-delay: 0.2s;
}