<div class="section" id="section1">
    <app-header-component></app-header-component>
    <app-profile-layout [fullName]="'Fatih Ayar'" [title]="'computer_engineer' | translate"></app-profile-layout>
</div>
<div class="section" id="section3">
    <div class="animated-element" appScrollAnimator>
        <app-projects-layout></app-projects-layout>
    </div>
</div>
<div class="section" id="section4">
    <div class="animated-element" appScrollAnimator>
        <app-experience-layout></app-experience-layout>
    </div>
</div>
<div class="section" id="section5">
    <div class="animated-element" appScrollAnimator>
        <app-education-layout></app-education-layout>
    </div>
</div>
<div class="section" id="section6">
    <div class="animated-element" appScrollAnimator>
        <app-contact-layout></app-contact-layout>
    </div>
</div>

<app-scroll-to-top-component></app-scroll-to-top-component>

@if (themeService.getIsDarkTheme()) {
  <i class="bi bi-brightness-high fixed-button" (click)="onClickTheme()"></i>
} @else {
  <i class="bi bi-moon fixed-button" (click)="onClickTheme()"></i>
}

<i class="bi bi-translate fixed-language-button" (click)="switchLanguage()"></i>