.experience-card {
  font-family: var(--font), sans-serif;
  margin: 2vh 0 2vh 0;
  padding: 0.5vh 0 0 0;

  .company-details {
    display: flex;
    align-items: center;

    img {
      width: 8vh;
      height: 8vh;
      border-radius: 5px;
      margin-right: 1vw;
      background-color: white;
    }

    h2 {
      font-family: var(--font), sans-serif;
      margin: 0;
      font-size: 1.5vw;
      line-height: 2vw;
    }

    p {
      font-family: var(--font), sans-serif;
      margin: 0;
      font-size: 0.9vw;
      color: var(--text-secondary-color);
    }
  }

  .gpa {
    margin: 0 0 0 calc(8vh + 1vw);

    p {
      font-family: var(--font), sans-serif;
      margin: 0.6vw 0;
      font-size: 1vw;
      color: var(--text-secondary-color);
    }
  }

  hr {
    margin-top: 3vh;
    color: var(--text-secondary-color);
    opacity: 0.1;
  }
}