.experience-card {
  font-family: var(--font), sans-serif;
  margin: 2vh 0 2vh 0;
  padding: 0.5vh 0 0 0;

  .company-details {
    display: flex;
    align-items: center;

    img {
      width: 8vh;
      height: 8vh;
      border-radius: 5px;
      margin-right: 1vw;
    }

    h2 {
      font-family: var(--font), sans-serif;
      margin: 0;
      font-size: 1.5vw;
      line-height: 2vw;
    }

    p {
      font-family: var(--font), sans-serif;
      margin: 0;
      font-size: 0.9vw;
      color: var(--text-secondary-color);
    }
  }

  .position-details {
    margin: 0 0 0 calc(8vh + 1vw);

    p {
      font-family: var(--font), sans-serif;
      margin: 1vw 0;
      font-size: 1vw;
      color: var(--text-secondary-color);
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.8vw;
      margin: 2vh 0;

      &.collapsed {
        max-height: 6vh;
      }

      &.expanded {
        white-space: normal;
        max-height: none;
      }
    }

    a {
      cursor: pointer;
      font-size: 1vw;
    }

    .position-details-title {
      display: inline-flex;
      width: 100%;

      h3 {
        font-family: var(--font), sans-serif;
        font-size: 1.1vw;
        line-height: 1.1vw;
        margin: 0;
        padding: 0;
        position: relative;
      }

      p {
        font-size: 1vw;
        line-height: 1.1vw;
        margin: 0 0 0 auto;
        color: var(--text-secondary-color);
        padding: 0;
        position: relative;
      }
    }
  }

  hr {
    margin-top: 3vh;
    color: var(--text-secondary-color);
    opacity: 0.1;
  }
}