<div *ngFor="let experience of experienceList; let num = index" class="experience-card">
    <div class="company-details">
        <img [src]="experience.companyLogo" alt="Logo" />
        <div>
            <h2>{{ experience.companyName }}</h2>
            <p>{{ experience.duration }} • {{ experience.location }}</p>
        </div>
    </div>

    <div *ngFor="let position of experience.positions; let i = index" class="position-details">
        <div class="position-details-title">
            <h3>{{ position.title }}</h3>
        </div>
        <p>{{ position.startDate }} - {{ position.endDate || 'Halen' }}</p>
    </div>
</div>